.video-tile {
	box-shadow: $box-shadow;
	border-radius: $border-radius-lg;
	background-color: theme-color-level("primary",4);
	position: relative;
	overflow: hidden;
	z-index: 0;
	-webkit-mask-image: -webkit-radial-gradient(white, black); // Fix border-radius issue on hover for Safari

	img {
		max-width: 100%;
		height: auto;
		transition: $transition-base;
		position: relative;
		z-index: 1;
	}

	.button-play {
		position: absolute;
		z-index: 2;
		top: map-get($spacers,2);
		right: map-get($spacers,2);

		&.stretched-link:after {
			width: 100vw;
			height: 100vh;
			transform: translate(-50%,-50%)
		}

		&:hover {
			+ img {
				transform: scale(1.1);
				opacity: 0.8;
			}
		}
	}
}